:host {
  --ds-auro-lockup-alaska-logo-color: var(--ds-color-brand-lounge, #{$ds-color-brand-lounge});
  --ds-auro-lockup-divider-color: var(--ds-color-border-divider-default, #{$ds-color-border-divider-default});
  --ds-auro-lockup-subtitle-color: var(--ds-color-base-gray-700, #{$ds-color-base-gray-700}); // Need tier 2 token for this
  --ds-auro-lockup-title-color: var(--ds-color-brand-breeze-400, #{$ds-color-brand-breeze-400}); // Need tier 2 token for this
}
